<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "layouts/base.html" %}
    {% block content %}
    <h1>About Django {{ username }}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste voluptas error mollitia non soluta veritatis sapiente dolores eligendi facilis ea modi voluptatibus eius molestias illo iure laboriosam, impedit atque similique.</p>
    {% endblock %}
</body>
</html>